<h3><%= @artist.name %></h3>
<ul>
    <% @artist.songs.each do |song| %>
        <li><%= link_to song.title, song_path(song) %></li>
    <% end %>
</ul>

<%= link_to "Add a Song", new_artist_song_path(@artist) %>